{{#sprites}}
.icon-{{name}} {
    content: "";
    display: inline-block;
    vertical-align: top;
    background-image: url('../images/sprite.png');
    background-position: {{px.offset_x}} {{px.offset_y}};
    background-size: {{px.total_width}} {{px.total_height}};
    width: {{px.width}};
    height: {{px.height}};
}
{{/sprites}}