*::-webkit-input-placeholder {
  opacity: 1;
}

*:-moz-placeholder {
  opacity: 1;
}

*::-moz-placeholder {
  opacity: 1;
}

*:-ms-input-placeholder {
  opacity: 1;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: top;
}

html {
  font-size: 10px;
  @include r($xs) {
    font-size: 9px;
  }
}

body {
  margin: 0;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.3;
  font-family: $font-stack;
  overflow-x: hidden;
  color: $primary-color;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
optgroup,
select,
textarea {
  font-family: $font-stack;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
