svg.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  font-size: 1.6rem;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
  transition: all .2s ease-in-out;
  position: relative;
  overflow: hidden;
  border: 1px solid $second-color;
  background: none;
  border-radius: 5px;
  color: $second-color;
  width: 100%;
  height: 44px;

  &:before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: $second-color;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
  }

  &:hover {
    color: #f9faf5;

    &:before {
      transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
    }
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px 2px $second-color;
  }

  &:active {
    transform: scale(0.98)
  }
}

.link {
  transition: all .2s ease-in-out;
  position: relative;
  text-decoration: none;
  color: $primary-color;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 1px;
    background-color: $second-color;
    transition: all .2s ease-in-out;
    transform: translateY(4px);
    opacity: .01;
  }

  &:hover:after {
    transform: translateY(0);
    opacity: .99;
  }
}

.search {
  color: $second-color;

  svg {
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}


.social {
  display: flex;
  align-items: center;
  justify-content: space-between;

  li {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    color: $second-color;
    font-size: 2.2rem;

    svg {
      transition: all .2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@keyframes logo {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }

  50% {
    -webkit-transform: translate(3%, 5%);
    transform: translate(3%, 5%)
  }
}

@keyframes wave {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.header {
  background: linear-gradient(130deg, #ffcbb5 0%, #e0b9ff 100%);
  background-size: 200% 200%;
  animation: wave 5s infinite;
  padding: 15px 0;

  &__wr {
    display: grid;
    grid-template-areas: 'a b' 'a c';
    grid-template-columns: 1fr 300px;
    grid-gap: 30px;
    position: relative;
  }

  &__toggle {
    position: relative;
    grid-area: c;
    z-index: 1;
    user-select: none;

    input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      cursor: pointer;
      opacity: 0.01;
      z-index: 2;
      -webkit-touch-callout: none;

      &:checked ~ .header__nav {
        transform: none;
      }

      &:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: $primary-color;

        &:nth-last-child(2) {
          transform: rotate(-45deg) translate(0, -1px);
        }

        &:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }
      }
    }

    span {
      display: none;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: $second-color;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;

      &:first-child {
        transform-origin: 0 0;
      }

      &:nth-last-child(2) {
        transform-origin: 0 100%;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
      font-size: 1.8rem;
      text-decoration: none;
      margin-left: 15px;
      color: $primary-color;
    }
  }

  &__logo {
    max-width: 120px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: logo 4s infinite ease-in-out;
    grid-area: a;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    grid-area: b;
  }

  &__search {
    margin-right: 30px;
    font-size: 2rem;
  }

  @include r($xs) {
    &__wr {
      grid-template-areas: 'c a b';
      grid-template-columns: 40px 1fr 40px;
      grid-template-rows: 50px;
      align-items: flex-start;
    }
    &__logo {
      max-width: 80px;
      justify-content: center;
      margin: 0 auto;
      min-height: auto;
    }
    &__toggle {
      top: 45%;
      span {
        display: block;
      }
    }
    &__nav {
      transform-origin: 0 0;
      transform: translate(-100%, 0);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
      flex-direction: column;
      justify-content: flex-start;
      background-color: #f9faf5;
      margin-top: 21px;
      margin-left: -15px;
      padding: 20px 25px;
      width: 100vw;
      height: 100vh;

      li {
        width: 100%;
        margin-bottom: 20px;
      }

      a {
        margin-left: 0;
        width: 100%;
        display: block;
        font-size: 2.4rem;

        &:hover:after {
          display: none;
        }
      }
    }
    &__social {
      display: none;
    }
    &__search {
      margin-right: 0;
      font-size: 3rem;
    }
    &__info {
      margin: 0;
      top: 35%;
    }
  }
}

.content {
  padding: 60px 0;

  &__wr {
    display: grid;
    grid-template-areas: 'a b' 'a c';
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto 1fr;
    grid-gap: 30px;
    align-items: flex-start;
  }

  @include r($md) {
    padding: 30px 0;
    &__wr {
      grid-template-areas: 'b' 'a' 'c';
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-gap: 30px;
    }
  }
}

.aside {
  &__top {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-gap: 10px 10px;
    align-items: flex-start;
    padding: 10px 15px;
    box-shadow: 0 0 4px 2px $grey-color;
    border-radius: 5px;
    grid-area: b;
    &:hover {
      .aside__icon img {
        transform: scale(1.1);
      }
    }
  }

  &__bottom {
    grid-area: c;
    padding: 10px 15px;
    box-shadow: 0 0 4px 2px $grey-color;
    border-radius: 5px;
  }

  &__icon {
    height: 50px;
    overflow: hidden;
    border: 1px solid $grey-color;
    border-radius: 5px;
    img {
      transition: all .5s ease-in-out;
    }
  }

  &__info {
    overflow: hidden;

    &_name {
      font-weight: 500;
      margin-bottom: .5rem;
    }

    &_desc {
      margin: 0;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2;
    }
  }

  &__social {
    justify-content: center;
    margin-bottom: 15px;
    li {
      margin: 0 10px;
    }
    a {
      font-size: 2.5rem;
    }
  }

  &__subscribe {
    margin-bottom: 20px;

    &_btn {
      margin-top: 15px;
    }
  }

  &__search {
    position: relative;
    margin-bottom: 20px;

    input {
      padding: 4px 40px 4px 8px;
    }

    &_btn {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      font-size: 20px;
      color: $second-color;
      border: none;
      cursor: pointer;
    }
  }

  &__tags {
    text-align: center;
    padding: 10px 15px 20px ;
    border-bottom: 1px solid $primary-color;

    &_item {
      font-size: 1.3rem;
      text-decoration: none;
      color: $primary-color;
      margin: 0 5px;
    }
  }

  &__comment {
    padding: 0;
    box-shadow: none;
    margin-top: 20px;

  }

  &__block {
    overflow: hidden;

    &_wr {
      display: grid;
      grid-template-columns: 1fr 70px;
      grid-gap: 10px;
      align-items: baseline;
      justify-content: space-between;
    }

    &_name {
      font-size: 1.4rem;

    }

    &_data {
      font-size: 1.2rem;
      color: $grey-color;
    }

    &_comment {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-top: 5px;
      margin-bottom: 0;
      font-size: 1.2rem;
    }
  }

}

.main {
  grid-area: a;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 30px;

  &__item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 4px 2px $grey-color;
    transition: all .2s ease-in-out;
    &:hover {
      box-shadow: 0 0 10px 2px $grey-color;

      .main__img img {
        transform: scale(1.1);
      }
    }
  }

  &__img {
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 15px;

    img {
      width: 100%;
      height: 100%;
      transition: all .7s ease-in-out;
      object-fit: cover;
    }
  }

  &__name {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
    text-decoration: none;
    color: $primary-color;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
      color: $second-color;
    }
  }

  &__desc {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2;
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__group {
    display: flex;
    margin-top: auto;

    &_item {
      margin-right: 15px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        color: $grey-color;
      }

      span {
        margin-left: 5px;
        line-height: 1;
        font-size: 1.2rem;
        color: $primary-color;
      }
    }
  }
}

.footer {
  margin-top: auto;
  background-color: #febbbb;

  &__wr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 0;
  }

  &__logo {
    max-width: 80px;
    min-height: 60px;
  }

  &__copy {
    font-size: 1.2rem;
    text-align: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    &_wr {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      i {
        color: $second-color;
        font-size: 1.8rem;
        margin-right: 5px;
      }
      a {
        font-size: 1.4rem;
      }
    }
  }

  @include  r($xs) {
  }

  @include r($sm) {
    &__wr {
      flex-direction: column;
      justify-content: center;
    }
    &__logo {
      margin-bottom: 15px;
    }
    &__social {
      margin-bottom: 15px;
      order: 2;
    }
    &__copy {
      order: 3;
    }
    &__info {
      margin-bottom: 15px;
      &_wr {
        justify-content: center;
      }
    }
  }
}


.input-beautifull {
  position: relative;
  margin-bottom: 10px;
  display: block;

  input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $primary-color;
    width: 100%;
    padding: 4px 8px;
    line-height: 1.4;
    font-size: 1.6rem;
    font-weight: 400;

    &:focus {
      outline: none;
      border-bottom: 1px solid transparent;
    }

    &:focus ~ span {
      transform-origin: bottom left;
      transform: scaleX(1);
    }
  }

  span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $second-color;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }
}

