*::-webkit-input-placeholder {
  opacity: 1; }

*:-moz-placeholder {
  opacity: 1; }

*::-moz-placeholder {
  opacity: 1; }

*:-ms-input-placeholder {
  opacity: 1; }

*,
*:after,
*:before {
  box-sizing: border-box; }

img {
  max-width: 100%;
  vertical-align: top; }

html {
  font-size: 10px; }

body {
  margin: 0;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.3;
  font-family: "Literata", sans-serif;
  overflow-x: hidden;
  color: #2c393f;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

button,
input,
optgroup,
select,
textarea {
  font-family: "Literata", sans-serif; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

svg.icon {
  width: 1em;
  height: 1em;
  fill: currentColor; }

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column; }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.btn {
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.6rem;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: relative;
  overflow: hidden;
  border: 1px solid #d84339;
  background: none;
  border-radius: 5px;
  color: #d84339;
  width: 100%;
  height: 44px; }
  .btn:before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #d84339;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.45s ease-in-out;
    transition: -webkit-transform 0.45s ease-in-out;
    transition: transform 0.45s ease-in-out;
    transition: transform 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out; }
  .btn:hover {
    color: #f9faf5; }
    .btn:hover:before {
      -webkit-transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
      transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15); }
  .btn:focus {
    outline: none;
    box-shadow: 0 0 5px 2px #d84339; }
  .btn:active {
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98); }

.link {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: relative;
  text-decoration: none;
  color: #2c393f; }
  .link:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 1px;
    background-color: #d84339;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
    opacity: .01; }
  .link:hover:after {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: .99; }

.search {
  color: #d84339; }
  .search svg {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .search svg:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  .social li {
    margin-left: 10px; }
    .social li:first-child {
      margin-left: 0; }
  .social a {
    color: #d84339;
    font-size: 2.2rem; }
    .social a svg {
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      .social a svg:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }

@-webkit-keyframes logo {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(3%, 5%);
    transform: translate(3%, 5%); } }

@keyframes logo {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(3%, 5%);
    transform: translate(3%, 5%); } }

@-webkit-keyframes wave {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes wave {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.header {
  background: -webkit-linear-gradient(320deg, #ffcbb5 0%, #e0b9ff 100%);
  background: linear-gradient(130deg, #ffcbb5 0%, #e0b9ff 100%);
  background-size: 200% 200%;
  -webkit-animation: wave 5s infinite;
  animation: wave 5s infinite;
  padding: 15px 0; }
  .header__wr {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 30px auto;
    grid-template-areas: 'a b' 'a c';
    -ms-grid-columns: 1fr 30px 300px;
    grid-template-columns: 1fr 300px;
    grid-gap: 30px;
    position: relative; }
  .header__toggle {
    position: relative;
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: c;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .header__toggle input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      cursor: pointer;
      opacity: 0.01;
      z-index: 2;
      -webkit-touch-callout: none; }
      .header__toggle input:checked ~ .header__nav {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none; }
      .header__toggle input:checked ~ span {
        opacity: 1;
        -webkit-transform: rotate(45deg) translate(-2px, -1px);
        -ms-transform: rotate(45deg) translate(-2px, -1px);
        transform: rotate(45deg) translate(-2px, -1px);
        background: #2c393f; }
        .header__toggle input:checked ~ span:nth-last-child(2) {
          -webkit-transform: rotate(-45deg) translate(0, -1px);
          -ms-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px); }
        .header__toggle input:checked ~ span:nth-last-child(3) {
          opacity: 0;
          -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          -ms-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2); }
    .header__toggle span {
      display: none;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: #d84339;
      border-radius: 3px;
      z-index: 1;
      -webkit-transform-origin: 4px 0;
      -ms-transform-origin: 4px 0;
      transform-origin: 4px 0;
      -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
      .header__toggle span:first-child {
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0; }
      .header__toggle span:nth-last-child(2) {
        -webkit-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        transform-origin: 0 100%; }
  .header__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end; }
    .header__nav a {
      font-size: 1.8rem;
      text-decoration: none;
      margin-left: 15px;
      color: #2c393f; }
  .header__logo {
    max-width: 120px;
    min-height: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-animation: logo 4s infinite ease-in-out;
    animation: logo 4s infinite ease-in-out;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: a; }
    .header__logo img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .header__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: b; }
  .header__search {
    margin-right: 30px;
    font-size: 2rem; }

.content {
  padding: 60px 0; }
  .content__wr {
    display: -ms-grid;
    display: grid;
    grid-template-areas: 'a b' 'a c';
    -ms-grid-columns: 1fr 30px 300px;
    grid-template-columns: 1fr 300px;
    -ms-grid-rows: auto 30px 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 30px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start; }

.aside__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr;
  grid-template-columns: 50px 1fr;
  grid-gap: 10px 10px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  padding: 10px 15px;
  box-shadow: 0 0 4px 2px #c2c2c2;
  border-radius: 5px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: b; }
  .aside__top:hover .aside__icon img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

.aside__bottom {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: c;
  padding: 10px 15px;
  box-shadow: 0 0 4px 2px #c2c2c2;
  border-radius: 5px; }

.aside__icon {
  height: 50px;
  overflow: hidden;
  border: 1px solid #c2c2c2;
  border-radius: 5px; }
  .aside__icon img {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }

.aside__info {
  overflow: hidden; }
  .aside__info_name {
    font-weight: 500;
    margin-bottom: .5rem; }
  .aside__info_desc {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2; }

.aside__social {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 15px; }
  .aside__social li {
    margin: 0 10px; }
  .aside__social a {
    font-size: 2.5rem; }

.aside__subscribe {
  margin-bottom: 20px; }
  .aside__subscribe_btn {
    margin-top: 15px; }

.aside__search {
  position: relative;
  margin-bottom: 20px; }
  .aside__search input {
    padding: 4px 40px 4px 8px; }
  .aside__search_btn {
    position: absolute;
    right: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: none;
    font-size: 20px;
    color: #d84339;
    border: none;
    cursor: pointer; }

.aside__tags {
  text-align: center;
  padding: 10px 15px 20px;
  border-bottom: 1px solid #2c393f; }
  .aside__tags_item {
    font-size: 1.3rem;
    text-decoration: none;
    color: #2c393f;
    margin: 0 5px; }

.aside__comment {
  padding: 0;
  box-shadow: none;
  margin-top: 20px; }

.aside__block {
  overflow: hidden; }
  .aside__block_wr {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 70px;
    grid-template-columns: 1fr 70px;
    grid-gap: 10px;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .aside__block_name {
    font-size: 1.4rem; }
  .aside__block_data {
    font-size: 1.2rem;
    color: #c2c2c2; }
  .aside__block_comment {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 1.2rem; }

.main {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: a;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 30px; }
  .main__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 4px 2px #c2c2c2;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .main__item:hover {
      box-shadow: 0 0 10px 2px #c2c2c2; }
      .main__item:hover .main__img img {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
  .main__img {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 15px; }
    .main__img img {
      width: 100%;
      height: 100%;
      -webkit-transition: all .7s ease-in-out;
      transition: all .7s ease-in-out;
      -o-object-fit: cover;
      object-fit: cover; }
  .main__name {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
    text-decoration: none;
    color: #2c393f;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .main__name:hover, .main__name:focus {
      color: #d84339; }
  .main__desc {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2; }
  .main__info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%; }
  .main__group {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-top: auto; }
    .main__group_item {
      margin-right: 15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center; }
      .main__group_item svg {
        color: #c2c2c2; }
      .main__group_item span {
        margin-left: 5px;
        line-height: 1;
        font-size: 1.2rem;
        color: #2c393f; }

.footer {
  margin-top: auto;
  background-color: #febbbb; }
  .footer__wr {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 15px 0; }
  .footer__logo {
    max-width: 80px;
    min-height: 60px; }
  .footer__copy {
    font-size: 1.2rem;
    text-align: center; }
  .footer__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column; }
    .footer__info_wr {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      margin-bottom: 5px; }
      .footer__info_wr i {
        color: #d84339;
        font-size: 1.8rem;
        margin-right: 5px; }
      .footer__info_wr a {
        font-size: 1.4rem; }

.input-beautifull {
  position: relative;
  margin-bottom: 10px;
  display: block; }
  .input-beautifull input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #2c393f;
    width: 100%;
    padding: 4px 8px;
    line-height: 1.4;
    font-size: 1.6rem;
    font-weight: 400; }
    .input-beautifull input:focus {
      outline: none;
      border-bottom: 1px solid transparent; }
    .input-beautifull input:focus ~ span {
      -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
      transform-origin: bottom left;
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1); }
  .input-beautifull span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #d84339;
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
  @media only screen and (max-width: 767px) {
      .header__toggle {
    -ms-grid-row: 5;
    -ms-grid-column: 1; }
      .header__logo {
    -ms-grid-row: 3;
    -ms-grid-column: 1; }
      .header__info {
    -ms-grid-row: 1;
    -ms-grid-column: 1; }
    .content {
      padding: 30px 0; }
      .content__wr {
        grid-template-areas: 'b' 'a' 'c';
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 30px; } }
  @media only screen and (max-width: 575px) {
    .footer__wr {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center; }
    .footer__logo {
      margin-bottom: 15px; }
    .footer__social {
      margin-bottom: 15px;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      order: 2; }
    .footer__copy {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
      order: 3; }
    .footer__info {
      margin-bottom: 15px; }
      .footer__info_wr {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center; } }
  @media only screen and (max-width: 425px) {
    html {
      font-size: 9px; }
    .header__toggle {
    -ms-grid-row: 1;
    -ms-grid-column: 1; }
    .header__logo {
    -ms-grid-row: 1;
    -ms-grid-column: 2; }
    .header__info {
    -ms-grid-row: 1;
    -ms-grid-column: 3; }
    .header__wr {
      grid-template-areas: 'c a b';
      -ms-grid-columns: 40px 1fr 40px;
      grid-template-columns: 40px 1fr 40px;
      -ms-grid-rows: 50px;
      grid-template-rows: 50px;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      align-items: flex-start; }
    .header__logo {
      max-width: 80px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      margin: 0 auto;
      min-height: auto; }
    .header__toggle {
      top: 45%; }
      .header__toggle span {
        display: block; }
    .header__nav {
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
      transform: translate(-100%, 0);
      -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      background-color: #f9faf5;
      margin-top: 21px;
      margin-left: -15px;
      padding: 20px 25px;
      width: 100vw;
      height: 100vh; }
      .header__nav li {
        width: 100%;
        margin-bottom: 20px; }
      .header__nav a {
        margin-left: 0;
        width: 100%;
        display: block;
        font-size: 2.4rem; }
        .header__nav a:hover:after {
          display: none; }
    .header__social {
      display: none; }
    .header__search {
      margin-right: 0;
      font-size: 3rem; }
    .header__info {
      margin: 0;
      top: 35%; } }
