{% extends "layout.html" %}

{% set title = 'Home' %}
{% set page = 'home' %}

{% block content %}

<section class="content">
  <div class="container">
    <div class="content__wr">
      {% include 'partials/aside-top.html' %}
      {% include 'partials/main.html' %}
      {% include 'partials/aside-bottom.html' %}
    </div>
  </div>
</section>


{% endblock content %}


{% block js %}
{% endblock %}