<aside class="aside__bottom">
    <ul class="aside__social social">
        <li><a href="#" aria-label="facebook"><svg class="icon"><use xlink:href="svg/sprite.svg#facebook" /></svg></a></li>
        <li><a href="#" aria-label="instagram"><svg class="icon"><use xlink:href="svg/sprite.svg#instagram" /></svg></a></li>
        <li><a href="#" aria-label="linkedin"><svg class="icon"><use xlink:href="svg/sprite.svg#linkedin" /></svg></a></li>
        <li><a href="#" aria-label="github"><svg class="icon"><use xlink:href="svg/sprite.svg#github" /></svg></a></li>
    </ul>
    <form action="/" class="aside__subscribe" method="POST">
      <label class="input-beautifull">
        <input type="text" name="name" placeholder="username" required> 
        <span></span>
      </label>
      <label class="input-beautifull">
        <input type="email" name="email" placeholder="example@email" required>
        <span></span>
      </label>
      <button type="submit" class="aside__subscribe_btn btn">Subscribe</button>
    </form>
    <form action="/" class="aside__search" method="GET">
      <label class="input-beautifull">
          <input type="text" name="search" placeholder="Search" required>
          <span></span>
      </label>
      <button type="submit" class="aside__search_btn"><svg class="icon"><use xlink:href="svg/sprite.svg#loupe" /></svg></button>
    </form>
    <div class="aside__tags">
      <a href="#" class="aside__tags_item link">hanamonya</a>
      <a href="#" class="aside__tags_item link">africanlily</a>
      <a href="#" class="aside__tags_item link">japan</a>
      <a href="#" class="aside__tags_item link">agapanthus</a>
      <a href="#" class="aside__tags_item link">botanical</a>
      <a href="#" class="aside__tags_item link">flowers</a>
      <a href="#" class="aside__tags_item link">naturelovers</a>
      <a href="#" class="aside__tags_item link">gardenlife</a>
      <a href="#" class="aside__tags_item link">lantligt</a>
      <a href="#" class="aside__tags_item link">gardening</a>
    </div>
    <div class="aside__comment aside__top">
      <div class="aside__icon"><img src="img/user-icon.jpg" alt="user-icon"></div>
      <div class="aside__block">
        <div class="aside__block_wr">
          <div class="aside__block_name">Marian Muryn</div>
          <span class="aside__block_data">5 days ago</span>
        </div>
        <p class="aside__block_comment">Lorem ipsum dolor sit amet.</p>
      </div>
    </div>

</aside>
