<aside class="aside__top">
  <div class="aside__icon"><img src="img/user-icon.jpg" alt="user-icon"></div>
  <div class="aside__info">
    <div class="aside__info_name">Marian</div>
    <p class="aside__info_desc">Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.</p>
  </div>
</aside>
