<footer class="footer">
    <div class="container">
        <div class="footer__wr">
            <a href="#" class="footer__logo"><img src="img/logo.png" alt="logo"></a>
            <div class="footer__copy">© Copyright 2019 Binary Studio Academy <br> All rights reserved </div>
            <div class="footer__info">
                <div class="footer__info_wr">
                    <i><svg class="icon"><use xlink:href="svg/sprite.svg#call-answer" /></svg></i>
                    <a href="tel:+380931699962" class="link">+38 (093) 16 999 62</a></div>
                <div class="footer__info_wr">
                    <i><svg class="icon"><use xlink:href="svg/sprite.svg#mail" /></svg></i>
                    <a href="mailto:marikmuryn@gmail.com" class="link">marikmuryn@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</footer>
