<header class="header">
    <div class="container">
        <div class="header__wr">

            <a href="#" class="header__logo"><img src="img/logo.png" alt="logo"></a>
                <div class="header__info">
                    <a href="#" class="header__search search"><svg class="icon"><use xlink:href="svg/sprite.svg#loupe" /></svg></a>
                    <ul class="header__social social">
                        <li><a href="https://facebook.com/?marikmuryn" aria-label="facebook"><svg class="icon"><use xlink:href="svg/sprite.svg#facebook" /></svg></a></li>
                        <li><a href="https://www.instagram.com/marian.muryn/" aria-label="instagram"><svg class="icon"><use xlink:href="svg/sprite.svg#instagram" /></svg></a></li>
                        <li><a href="https://www.linkedin.com/in/marian-muryn-4a36b2122/" aria-label="linkedin"><svg class="icon"><use xlink:href="svg/sprite.svg#linkedin" /></svg></a></li>
                        <li><a href="https://github.com/marikmuryn" aria-label="github"><svg class="icon"><use xlink:href="svg/sprite.svg#github" /></svg></a></li>
                    </ul>
                </div>

                <nav class="header__toggle" >
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul class="header__nav">
                        <li><a href="#" class="link" aria-label="Home">Home</a></li>
                        <li><a href="#" class="link" aria-label="About">About</a></li>
                        <li><a href="#" class="link" aria-label="Contact us">Contact us</a></li>
                    </ul>
                </nav>
        </div>
    </div>
    </header>