<main class="main">
  <article class="main__item">
    <div class="main__img"><img src="img/post1.jpg" alt="post-img"></div>
    <div class="main__info">
      <a href="#" class="main__name">This is color in the time of cherry blossoms</a>
      <p class="main__desc">Bursting with love and bliss during this epic cherry blossom season</p>
      <div class="main__group">
        <div class="main__group_item">
          <svg class="icon"><use xlink:href="svg/sprite.svg#speech-bubble-with-text-lines " /></svg>
          <span>3</span>
        </div>
        <div class="main__group_item">
          <svg class="icon"><use xlink:href="svg/sprite.svg#star" /></svg>
          <span>10</span>
        </div>
        <div class="main__group_item">
          <svg class="icon"><use xlink:href="svg/sprite.svg#clock" /></svg>
          <span>22:47 01.07.2019</span>
        </div>
      </div>
    </div>
  </article>
  <article class="main__item">
    <div class="main__img"><img src="img/post2.jpg" alt="post-img"></div>
    <div class="main__info">
      <a href="#" class="main__name">That morning had such a calm and peaceful vibe</a>
      <p class="main__desc">You visit this place during sunrise and all the flowers start opening, so together with the flowers I soaked in the first sun rays.</p>
      <div class="main__group">
        <div class="main__group_item">
          <svg class="icon"><use xlink:href="svg/sprite.svg#speech-bubble-with-text-lines " /></svg>
          <span>3</span>
        </div>
        <div class="main__group_item">
          <svg class="icon"><use xlink:href="svg/sprite.svg#star" /></svg>
          <span>10</span>
        </div>
        <div class="main__group_item">
          <svg class="icon"><use xlink:href="svg/sprite.svg#clock" /></svg>
          <span>22:47 01.07.2019</span>
        </div>
      </div>
    </div>
  </article>
  <article class="main__item">
    <div class="main__img"><img src="img/post3.jpg" alt="post-img"></div>
    <div class="main__info">
      <a href="#" class="main__name">When it comes to carving an avocado</a>
      <p class="main__desc">“Carving seeds absolutely fascinates me,” says the psychologist living in Rome.“ Life always comes forth from seeds.</p>
      <div class="main__group">
        <div class="main__group_item">
          <svg class="icon"><use xlink:href="svg/sprite.svg#speech-bubble-with-text-lines " /></svg>
          <span>3</span>
        </div>
        <div class="main__group_item">
          <svg class="icon"><use xlink:href="svg/sprite.svg#star" /></svg>
          <span>10</span>
        </div>
        <div class="main__group_item">
          <svg class="icon"><use xlink:href="svg/sprite.svg#clock" /></svg>
          <span>22:47 01.07.2019</span>
        </div>
      </div>
    </div>
  </article>
</main>
