<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>
        {% if title %}
        {{ title }}
        {% else %}
        Layout with Nunjucks
        {% endif %}
    </title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <!-- build:css css/main.css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- endbuild -->
    <link href="https://fonts.googleapis.com/css?family=Literata:400,500&display=swap" rel="stylesheet">
</head>
<body>

<section class="wrapper">
    {% include 'partials/header.html' %}

    {% block content %}

    {% endblock %}

    {% include 'partials/footer.html' %}
</section>

{% block js %}

{% endblock %}
</body>
</html>
